<dl class="dl-horizontal">
  <div ng-repeat="message in messages[friend._id]">
    <div class="col-xs-12">
      <dt class="from">{{resolveName(message.from)}}</dt>
    </div>
    <div class="col-xs-12">
      <div ng-show="message.status != 'warning'">
        <dd class="message col-xs-6">Plaintext : {{message.content}}</dd>
        <dd class="message col-xs-6">Ciphertext : {{message.ciphertext}}</dd>
      </div>
      <dd class="alert alert-warning" ng-show="message.status == 'warning'" class="message col-xs-6">{{message.content}}</dd>
    </div>
  </div>
</dl>