@media (min-width: 768px) {
  .navbar-friends, .navbar-vertical.navbar {
    height: 100%;
  }
  .navbar-friends {
    margin-right: 15px;
  }
  .navbar-recommended {
    margin-left: 15px;
  }
  .navbar-vertical.navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-vertical.navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-vertical.navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar-vertical.navbar
  {
    max-width:300px;
    margin-right: 0;
    margin-left: 0;
  } 

  .navbar-vertical.navbar-nav,
  .navbar-vertical.navbar-nav > li,
  .navbar-vertical.navbar-left,
  .navbar-vertical.navbar-right,
  .navbar-vertical.navbar-header
  {float:none !important;}

  .navbar-vertical.navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-vertical.navbar-collapse .navbar-vertical.navbar-nav.navbar-vertical.navbar-right:last-child {
      margin-right: 0;
  }
}