<nav class="navbar-vertical navbar navbar-default" role="navigation" ng-controller="NavbarRecommendedCtrl">
  <div class="navbar-vertical navbar-header">
    <a class="navbar-brand" href="#">Recommended</a>
  </div>

  <div>
    <ul class="nav">
      <li ng-repeat="r in recommended" ng-click="add(r)">
        <a href="#">{{r.name}}</a>
      </li>
    </ul>
  </div>
</nav>