<nav class="navbar-vertical navbar navbar-default" role="navigation">
  <div class="navbar-vertical navbar-header">
    <a class="navbar-brand" href="#">Friends</a>
  </div>

  <div>
    <ul class="nav">
      <li ng-repeat="friend in friends" ng-click="addTab(friend)">
        <a href="#">
          {{friend.name}}
          <span class="glyphicon glyphicon-remove pull-right" role="remove" ng-click="removeFriend(friend, $event)"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>