<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Chat</a>
  </div>
  <div>
    <ul class="nav nav-tabs" id="chat">
      <li ng-repeat="tab in tabs" ng-class="{active: isActive(tab)}" ng-click="active(tab)">
        <a href="#">
          {{tab.name}}
          <span class="badge">{{unseen[$index]}}</span>
          <span class="glyphicon glyphicon-remove pull-right" role="remove" ng-click="removeTab(tab)"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div ng-show="tabs.length > 0" ng-include="'components/tab/tab.template.html'"></div>
