<div ng-controller="TabCtrl">
  Chat messages with {{friend.name}}
  <div class="chat">
    <div class="messages" ng-include="'components/messages/messages.html'"></div>
    <div class="send col-xs-12">
      <form class="input-group" action="post">
        <textarea class="form-control" name="message" id="message" class="send-box form-control" ng-keypress="sendMessage($event)" ng-model="newMessage"></textarea>
        <a class="btn-send input-group-addon glyphicon glyphicon-send btn btn-default" ng-click="sendMessageBtn()"></a>
      </form>
    </div>
  </div>
  
    
  <div class="presharedKey col-xs-12">
    Use preshared key: 
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="..." ng-model="usePreShared">
      </span>
      <input type="text" ng-disabled="!usePreShared" class="form-control" aria-label="..." ng-model="preSharedKey">
    </div>
  </div>
</div>