<div ng-include="'components/navbar/navbar.html'"></div>

<div class="loading" ng-hide="finishedKeygen">
  <div class="center">
    <h1>Generating public/private key pair...</h1>
    <img src="assets/images/loading.gif" alt="Loading">
  </div>
</div>

<div ng-show="finishedKeygen">
  <!-- Friends online -->
  <div class="navbar-friends pull-left" ng-include="'components/navbar/navbar_friends.html'"></div>
  
  <!-- Recommended friends online -->
  <div class="navbar-recommended pull-right" ng-include="'components/navbar/navbar_recommended.html'"></div>
  
  <!-- CHAT -->
  <div class="body" ng-include="'components/tab/tab.html'"></div>
  
  <div class="clearfix"></div>
</div>