<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="add(user)"><span class="glyphicon glyphicon-plus pull-right" role="add"></span></a>
    </li>
  </ul>
</div>